<nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark"> 
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Fade Game</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'shop:homepage' %}">Home</a>
          </li>
        </ul>
        <span class="navbar-text">
          {% if user.is_authenticated %}
              <h4>Welcome {{request.user.first_name}}</h4>
              <a href="{% url 'shop:profile' request.user.id%}">My Profile</a> 
              <a href="{% url 'shop:signout' %}">Sign Out</a>
          {% else %}
              <a href="{% url 'shop:signin' %}">Sign In</a>
              <a href="{% url 'shop:register' %}">Register</a>
          {% endif %}
        </span>
      </div>
    </div>
  </nav>